<p id="notice"><%= notice %></p>
<h2>Cart details</h2>
<%= render 'carts/cart'%>
<br>

<h5>
Total: $<%@cart.total_price%>
</h5>
<%= link_to 'Return To Store',shop_path %> |
<%= link_to 'Empty Cart', @cart, method: :delete,data: {confirm:"Are You sure??"} %>
